body{
  padding: 0;
  margin: 0;
  background: white;
}
.navbar {
  background:navy;
  text-align: center;
}

.navbar-brand {
  color: orange;
  text-align: center;
  font-size: 2.4rem;
}

.overflow-auto{
	left:15%;
	top: 10%;
	right:15%;
	position: absolute;
	color: orange;
	text-align: center;
	font-size: 1.2rem;
}

form{
	color: orange;
	text-align: center;
	font-size: 1.2rem;
}